.centerSections .fade-enter {
    opacity: 0;
    z-index: 1;
}
.centerSections .fade-enter.fade-enter-active {
    /*opacity: 1;*/
    transition: all .3s ease;
}
.centerSections .fade-exit {
    opacity: 1;
}
.centerSections .fade-exit.fade-exit-active {
    opacity: 0;
    transition: all .3s ease;
}

.centerSections section{
    position: absolute;
    /*opacity: 0;*/
}
.centerSections{
    position: relative;
    width: 100%;
}

.centerSections .fade-enter-done{
    opacity: 1;
    transition: all .3s ease;
}

@media screen and (max-width: 1280px){
    .centerSections section{
        position: static;
    }
}
